.size--large {
	padding-top: 14px;
	padding-bottom: var(--spacing-xxxsm);
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);

	font-size: var(--font-size-tiny);
	line-height: var(--line-height-medium);

	font-family: var(--font-family-02);
}

.size--medium {
	padding-top: 14px;
	padding-bottom: var(--spacing-xxxsm);
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);

	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);

	font-family: var(--font-family-02);
}

.size--small {
	padding-top: 2px;
	padding-bottom: var(--spacing-zee);
	padding-left: var(--spacing-sm);
	padding-right: var(--spacing-sm);

	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);

	font-family: var(--font-family-02);
}