.variant--basic {
	background: none;
	border: none;
	color: var(--color-primary-01);

	font-size: var(--font-size-tiny);
	line-height: var(--line-height-medium);

	font-family: var(--font-family-02);
}
.variant--basic:hover {
	text-decoration: underline;
}

.variant--primary {
	background: var(--color-primary-01);
	color: var(--surface-color-11);
	border: 1px solid var(--color-primary-01);
}
.variant--primary:hover {
	opacity: 90%;
}

.variant--secundary {
	background: var(--surface-color-00);
	color: var(--surface-color-11);
	border: 1px solid var(--surface-color-00);
}
.variant--secundary:hover {
	opacity: 90%;
}

.variant--tertiary {
	background: none;
	color: var(--surface-color-02);
	border: 1px solid var(--surface-color-02);
}
.variant--tertiary:hover {
	background: var(--surface-color-02);
	color: var(--surface-color-11);
}